/* txt.css */
body {
    line-height: 1.6; /* Increase line height for better readability */
    
}

h1, h2 {
    margin-bottom: 1.5rem; /* Add more space below headings */
   
}


p {
    margin-bottom: 1.5rem; /* Add more space below paragraphs */
    text-align: left;
    max-width: 100%;
}

.max-w-2xl {
    text-align: left;
}
